* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
}

:root {
    --text-color: #555;
    --line-color: #ddd;
    --active-color: #89bdf4;

    --bg-color: #fff;
    --bg-color--lighter: #eee;

    background-color: var(--bg-color);
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ddd;
        --line-color: #555;
        --active-color: #4889cc;

        --bg-color: #333;
        --bg-color--lighter: #444;
    }
}
