:root {
    --potmot-list--text-color: #444;

    --potmot-list--bg-color: #fff;
    --potmot-list--bg-color--hover: #eee;
    --potmot-list--bg-color--selected: #89bdf4;

    --potmot-list--icon-color: #666;
    --potmot-list--icon-size: 1rem;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --potmot-list--text-color: #eee;

        --potmot-list--bg-color: #333;
        --potmot-list--bg-color--hover: #444;
        --potmot-list--bg-color--selected: #4889cc;

        --potmot-list--icon-color: #ddd;
    }
}
